@font-face {
  font-family: 'poppinslight';
  src: url('.././fonts/Poppins-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'poppinsmedium';
  src: url('.././fonts/Poppins-Medium.ttf')  format('truetype');
}

@font-face {
  font-family: 'poppinsreg';
  src: url('.././fonts/Poppins-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'poppinsbold';
  src: url('.././fonts/Poppins-SemiBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'poppinsthin';
  src: url('.././fonts/Poppins-Thin.ttf')  format('truetype');
}

@font-face {
  font-family: 'poppinsemibold';
  src: url('.././fonts/Poppins-SemiBold.ttf')  format('truetype');
}


@font-face {
  font-family: 'ceramedium';
  src: url('.././fonts/CeraMedium.otf')  format('truetype');
}

@font-face {
  font-family: 'cerabold';
  src: url('.././fonts/Cera_Pro_Black.otf')  format('truetype');
}
