* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'poppinssemi';
  src: font-url(".././fonts/Poppins-SemiBold.ttf") format("truetype"); }

header {
  background-image: url(".././img/chart.png"), url(".././img/clouds.png"), linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
  height: 100vh;
  width: 100%; }
  header .wrapper-navbar {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px; }
    header .wrapper-navbar .wrap-logo {
      width: 100%; }
      header .wrapper-navbar .wrap-logo .logo-transiago {
        float: left; }
      header .wrapper-navbar .wrap-logo .tagname {
        font-family: poppinssemi;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: normal;
        color: #575962;
        line-height: 50px;
        margin-left: 10px; }
        header .wrapper-navbar .wrap-logo .tagname span {
          color: #669FFF; }
    header .wrapper-navbar .navmenu-wrap {
      width: 100%; }
      header .wrapper-navbar .navmenu-wrap ul.navul {
        float: left; }
        header .wrapper-navbar .navmenu-wrap ul.navul li {
          margin-left: 15px;
          margin-right: 15px;
          display: inline-block;
          line-height: 50px; }
          header .wrapper-navbar .navmenu-wrap ul.navul li a {
            font-family: 'Quicksand', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: normal;
            letter-spacing: 0.05em;
            color: #697CA6;
            text-decoration: none; }
    header .wrapper-navbar .btn-hero {
      width: 100%;
      text-align: right; }
      header .wrapper-navbar .btn-hero ul li {
        list-style-type: none;
        display: inline;
        line-height: 50px;
        margin-left: 20px;
        margin-right: 20px; }
        header .wrapper-navbar .btn-hero ul li a.btn-login {
          font-family: 'Quicksand', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: normal;
          letter-spacing: 0.05em;
          color: #697CA6;
          text-decoration: none; }
        header .wrapper-navbar .btn-hero ul li a.btn-getStarted {
          font-family: 'Quicksand', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: normal;
          letter-spacing: 0.05em;
          color: #3A79FF;
          text-decoration: none;
          background: #D2E1FF;
          border-radius: 2px;
          display: inline-block;
          padding: 8px; }
  header .wrap-hero {
    height: 60vh; }
    header .wrap-hero .wrap-tagline {
      width: 100%; }
      header .wrap-hero .wrap-tagline .title-tagline {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: normal;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3D4F9F;
        text-align: center;
        margin-bottom: 10px; }
      header .wrap-hero .wrap-tagline .body-tagline {
        font-family: 'Quicksand', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: normal;
        text-align: center;
        color: #3D4F9F;
        margin-bottom: 20px; }
        header .wrap-hero .wrap-tagline .body-tagline span {
          font-family: 'Quicksand', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 36px;
          line-height: normal;
          text-align: center;
          color: #3D4F9F; }
      header .wrap-hero .wrap-tagline .overview-tagline {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #8D96BD; }
      header .wrap-hero .wrap-tagline .dots {
        text-align: center;
        margin-top: 20px; }
        header .wrap-hero .wrap-tagline .dots span {
          width: 8px;
          height: 8px;
          border-radius: 50px;
          margin-left: 4px;
          margin-right: 4px;
          background: #D1D6E3;
          display: inline-block; }
        header .wrap-hero .wrap-tagline .dots span.active {
          background: #5283FF; }
  header .btn-arrow-bottom {
    width: 100%;
    text-align: center; }
    header .btn-arrow-bottom .btn-slide-down {
      width: 52px;
      height: 52px;
      margin: 0 auto;
      border-radius: 100px;
      background: #FFFFFF;
      box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6); }
      header .btn-arrow-bottom .btn-slide-down img {
        margin-top: 15px; }

.button-action {
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  display: inline-block;
  text-decoration: none; }

.btn-blue {
  background: #4C85FF;
  color: #FFFFFF; }

.btn-grey {
  background: #F5F5F5;
  color: #575962; }

.margin-lf {
  margin-right: 20px; }

.feature-hero {
  width: 100%;
  background: #FFFFFF;
  border-top: 1px solid #D8E3FE;
  border-bottom: 1px solid #D8E3FE;
  padding-top: 35px;
  padding-bottom: 35px; }
  .feature-hero .quick-access-wrapper {
    padding-left: 45px;
    padding-right: 45px; }
  .feature-hero .wrapper-search-bar .quick-access {
    background: #FFFFFF;
    border: .5px solid #C0C1C4;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: normal;
    color: #575962; }
    .feature-hero .wrapper-search-bar .quick-access::-webkit-input-placeholder {
      font-family: 'Quicksand', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: normal;
      color: #575962; }
    .feature-hero .wrapper-search-bar .quick-access:-ms-input-placeholder {
      font-family: 'Quicksand', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: normal;
      color: #575962; }
    .feature-hero .wrapper-search-bar .quick-access::-ms-input-placeholder {
      font-family: 'Quicksand', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: normal;
      color: #575962; }
    .feature-hero .wrapper-search-bar .quick-access::placeholder {
      font-family: 'Quicksand', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: normal;
      color: #575962; }

.overview-product {
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
  height: 100vh; }
  .overview-product .wrapper-box-overview {
    height: 100vh; }
  .overview-product .wrap-overview-product-left .box-overview {
    margin-left: 50px; }
    .overview-product .wrap-overview-product-left .box-overview .box-title {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: normal;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #3D4F9F;
      margin-bottom: 20px; }
    .overview-product .wrap-overview-product-left .box-overview h1 {
      font-family: 'Quicksand', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: normal;
      color: #3D4F9F;
      margin-bottom: 20px; }
      .overview-product .wrap-overview-product-left .box-overview h1 span {
        font-weight: normal; }
    .overview-product .wrap-overview-product-left .box-overview p {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.03em;
      color: #8D96BD; }
  .overview-product .wrap-overview-product-right {
    position: relative;
    text-align: center; }
    .overview-product .wrap-overview-product-right .mockup1 {
      width: 90%; }
    .overview-product .wrap-overview-product-right .mockup2 {
      position: absolute;
      bottom: 15%;
      left: 0; }
    .overview-product .wrap-overview-product-right .mockup3 {
      position: absolute;
      right: 24%;
      bottom: -12%; }
  .overview-product .group-buttons {
    margin-top: 20px; }
    .overview-product .group-buttons .left-btn {
      background: #4C85FF;
      box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      text-decoration: none;
      box-sizing: border-box;
      padding: 10px 15px 10px 15px;
      font-family: 'Quicksand', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: normal;
      color: #FFFFFF; }
    .overview-product .group-buttons .right-btn {
      border: 1px solid #D1D1E4;
      padding: 9px 15px 9px 15px;
      border-top-right-radius: 2px;
      border-top-right-radius: 2px;
      font-family: 'Quicksand', sans-serif;
      text-decoration: none;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: normal;
      text-align: center;
      margin-left: -4px;
      color: #ADB4D2; }
